OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_API_KEY=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
# Replace the model with the appropriate one (e.g., openai/gpt-4o-mini or anthropic/claude-3-haiku)
OPENAI_MODEL_NAME=openrouter/google/gemini-2.0-flash-lite:free
